* {
  margin: 0%;
  padding: 0%;
}

body {
  background-color: #4b535a;
  color: white;
  font-family: "Libre Baskerville, sans-serif";
  font-size: 1.25rem; /*20 px*/
  line-height: 1.75rem; /*28 px*/
  letter-spacing: 0.125rem; /*2 px*/
}

nav {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.fa-bars{
  font-size: 1.5rem;
  color: #ffffff;
  cursor: pointer;
}


.name-title-text {
  display: grid;
  background-color: #4b535a;
  color: white;
  height: fit-content;
  justify-items: center;
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 2rem;

}
.introduction {
  width: 60%;
}
.profile-img {
  height: 80px;
  border-radius: 50%;
}

.project1 {
  display: grid;
  place-items: center;
  grid-template-columns: auto auto;
  background-color: #212529;
  color: white;
  padding: 1rem;
}

.prompt-engineering-project-img {
  width: 400px;
  height: 450px;
}

.project1-description {
  display: grid;
  grid-column: 2;
  text-align: center;
}

.project2 {
  display: grid;
  place-items: center;
  grid-template-columns: auto auto auto auto;
  background-color: #4b535a;
  color: white;
  padding-top: 2rem;
}

.travelers-journal-img {
  width: 250px;
  height: 450px;
}

.project2-description {
  display: grid;
  grid-column: 1 / 5;
  text-align: center;
  padding-top: 1rem;
}

.project3 {
  display: grid;
  place-items: center;
  grid-template-columns: auto auto auto;
  background-color: #212529;
  color: white;
  padding-top: 2rem;
}

.seashore-hotel-img {
  width: 400px;
  height: 300px;
}

.project3-description {
  display: grid;
  grid-column: 1 / 4;
  text-align: center;
  padding-top: 1rem;
}

.card-body {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10%;
  text-align: center;
}

.contact-me {
  grid-column: 2 / 3;
}

.btn {
  background-color: #212529;
}
#contact-btn {
  text-decoration: none;
  color: white;
  border-radius: 8px;
}

.menu {
  background-color: #4b535a;
  height: 40px;
}

.header {
  display: flex;
  flex-direction: row-reverse;
  font-size: large;
}

.skills-li {
  list-style-type: "* ";
}
.header-li {
  padding: 1rem;
  list-style-type: none;
}

.header a {
  text-decoration: none;
  padding: 10px;
}
a, .fa-bars {
  box-shadow: inset 0 0 0 0 #201e3a;
  color: #d8e0e1;
  margin: 0 -0.25rem;
  padding: 0 0.25rem;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
a:hover, .fa-bars:hover {
  box-shadow: inset 500px 0 0 0 #201e3a;
}
